	<!DOCTYPE html>
	<!--
	To change this license header, choose License Headers in Project Properties.
	To change this template file, choose Tools | Templates
	and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">
<head><div th:replace="fragments ::app_head('titulo')"></div></head>


</head>
<body>
	<div class="container-fluid"> <!-- contenedor de pagina-->

		<div th:replace="fragments ::navbartop"></div> <!-- Menu superior --> 	

		<div class="row content"> <!-- fila contine menuj lateral 3 col,  principal 9 col -->
			<div th:replace="fragments ::navbarside_cot"></div> <!-- Menu Lateral  -->  

			<!-- Contenido principal 9 columnas -->
			<div class="col-sm-9">

				<div class="panel panel-default">
					<div class= "panel-heading row">

						<div class="col-sm-6"><h2>Cotizaciones</h2></div>
						<div class="col-sm-3"><a class="btn btn-sm btn-success" th:href="@{/cotizaciones/create}" >Nuevo</a></div>					
					</div>	
					<div class="panel-body"><!--dentro del panel body va mi contenido-->


						<div class="table-responsive">
							<table class="table table-sm table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th> Fecha </th>
										<th> Mnd</th>
										<th> Entidad</th>
										<th> Tpo Cmb</th>
										<th> Cot Vta</th>
										<th> Cot Cmp</th>
										<th> Com Vta</th>
										<th> Com Cmp</th>
										<th> Instr</th>
										<th> Tipo Op</th>
										<!--<th> Mnd Base</th>-->
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cotizacion : ${cotizaciones}">
										<td th:text="${#temporals.format(cotizacion.fecha, 'dd/MMM/yyyy HH:mm')}"></td>
										<td th:text="${cotizacion.moneda}"></td>
										<td th:text="${cotizacion.entidad}"></td>
										<td th:text="${cotizacion.tipoCambio}"></td>
										<td th:text="${cotizacion.cotizacionVta}"></td>
										<td th:text="${cotizacion.cotizacionCmp}"></td>
										<td th:text="${cotizacion.comisionVta}"></td>
										<td th:text="${cotizacion.comisionCmp}"></td>
										<td th:text="${cotizacion.instrumento}"></td>
										<td th:text="${cotizacion.tipoOp}"></td>
										<!--<td th:text="${cotizacion.monedaBase}"></td>-->									
										<td>
										<div class="btn-group pull-right">
											<a class="btn btn-sm btn-primary" th:href="@{/cotizaciones/edit/{id}(id=${cotizacion.id})}" >Editar</a>
											<a class="delete btn btn-sm btn-danger" th:href="@{/cotizaciones/delete/{id}(id=${cotizacion.id})}">borrar</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>

		</div> <!-- Fin Contenido principal 9 columnas -->

	</div>	<!-- fila contine menuj lateral 3 col,  principal 9 col -->

</div>	<!-- fin contenedor de pagina-->
</body>
</html>
