<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">

<head><div th:replace="fragments ::app_head('titulo')"></div></head>


</head>
<body>
	<div class="container-fluid"> <!-- contenedor de pagina-->

		<div th:replace="fragments ::navbartop"></div> <!-- Menu superior --> 	

		<div class="row"> <!-- fila contine menuj lateral 3 col,  principal 9 col -->
		    <div id="result"></div>
		</div>	<!-- fila contine menuj lateral 3 col,  principal 9 col -->
	</div> <!-- fin contenedor de pagina-->


</body>
</html>
